{% extends '@App/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="album py-5 bg-light">
            <div class="row justify-content-md-center">
                <div class="col col-md-11 text-right">
                    <a class="btn btn-danger" href="{{ path('admin_room') }}">ADMIN</a>
                </div>
            </div>
            <hr>
            <div class="container">
                <div class="row">
                    {% for serial in serials %}
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <a href="{{ path('show_seasons', {'serial': serial.id}) }}">
                                    <img class="card-img-top" src="{{ asset('uploads/files/' ~ serial.imagePath) }}" alt="{{ serial.name }}">
                                </a>
                                <div class="card-body">
                                    <a class="h5" href="{{ path('show_seasons', {'serial': serial.id}) }}"><b>{{ serial.name }}</b></a>
                                    <hr>
                                    <p class="card-text">{{ serial.description }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a class="btn btn-sm btn-outline-secondary" href="{{ path('show_seasons', {'serial': serial.id}) }}">Сезони</a>
                                        </div>
                                        <small class="text-muted">{{ serial.createdAt| date('Y:m:d') }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
